<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Mtkc</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        @if (userRole=="Admin" || userRole=="Muhasebe" || userRole=="Genel Müdür"){
          <a (click)="setCurrentPage('/company')" [class]="getSelectPage('/company')"    routerLink="/company">Şirketler</a>
          <a (click)="setCurrentPage('Type')" [class]="getSelectPage('/paymenttypes')"  routerLink="/paymenttypes">Ödeme Tipleri</a>
          <a (click)="setCurrentPage('Users')" [class]="getSelectPage('/users')" routerLink="/users">Kullanıcılar</a>
        }
        <a class="nav-link" (click)="setCurrentPage('Ödeme')" routerLink="/paymentlist">Ödeme Listesi</a>
        <a class="nav-link" (click)="setCurrentPage('History')" routerLink="/historypaymentlist">Geçmiş Ödeme Listesi</a>



      </div>

    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        {{userName}}
      </button>
      <ul class="dropdown-menu">
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" (click)="logout()" routerLink="/login">Çıkış</a></li>
      </ul>
    </div>

  </div>
</nav>
