<app-navi></app-navi>
<div>
  <button type="button" class="btn btn-info" routerLink="add">Ekle</button>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Sıra</th>
    <th>İsim</th>
    <th>Tarih</th>
    <th>Şirket İsmi</th>
    <th>Ödeme Yapılacak Firma</th>
    <th>Fiyat</th>
    <th>Ödeme Tutarı</th>
    <th>Açıklama</th>
    <th>Ödemenin Yapıldığı Tarih</th>
  </tr>
  </thead>
  @for (item of historyPaymentList; track historyPaymentList){

    <tr>
      <td>{{item.id}}</td>
      <td>{{item.userName}}</td>
      <td>{{item.dateAdded|date: "dd/MM/yyyy"}}</td>
      <td>{{item.companyName}}</td>
      <td>{{item.paymentOfPlace}}</td>
      <td>{{item.price|currency:"TRY":"₺"}}</td>
      <td>{{item.paymentType}}</td>
      <td>{{item.description}}</td>
      <td>{{item.datePaid|date: "dd/MM/yyyy"}}</td>
    </tr>

  }
</table>

