<div>
</div>
@if (dataLoading==false){
  <div class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
}

<table class="table">
  <thead>
  <th>Sıra No</th>
  <th>İsim</th>
  <th>Mail</th>
  <th>Telefon</th>
  <th>Görevi</th>
  <th>Şirket</th>
  <th>Statu</th>
  </thead>
  <tbody>
  @for (item of users;track users){
    <tr (click)="setCurrentUser(item)" [class]="getSelectUsers(item)">
      <td>{{item.id}}</td>
      <td>{{item.firstName}}&nbsp;{{item.lastName}}</td>
      <td>{{item.userEmail}}</td>
      <td>{{item.userPhone}}</td>
      <td>{{item.title}}</td>
      <td>{{item.companyName}}</td>
      @if (item.status == true){
        <td>Aktif</td>
      } @else {
        <td>Pasif</td>
      }
      @if (item == currentUsers){
        <td><button type="button" class="btn btn-danger">Sil</button></td>
      }
    </tr>
  }
  </tbody>
</table>
