<app-navi></app-navi>
<button type="button" class="btn btn-info" routerLink="add">Ekle</button>
<table class="table">
  <thead>
  <tr>
    <th>Sıra</th>
    <th>Ödeme Tipi</th>
  </tr>
  </thead>
  <tbody>
    @for (paymentType of paymentType; let i=$index;track paymentType){
      <tr (click)="setCurrentPaymentType(paymentType)"
          [class]="getSelectType(paymentType)">
        <td>{{i + 1}}</td>
        <td>{{paymentType.payment_Type}}</td>
        @if (paymentType== currentPaymnetTpe){
          <td><button
            type="button"
            class="btn btn-danger"
            (click)="deletePaymentType(paymentType.id)">Sil</button>
          </td>
        }
      </tr>

    }
  </tbody>


</table>
