<app-navi></app-navi>
<div>
  <button type="button" class="btn btn-success" (click)="exportToExcel()">Excel Export</button>
  <button type="button" class="btn btn-info" routerLink="add">Ekle</button>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Sıra</th>
    <th>İsim</th>
    <th>Tarih</th>
    <th>Şirket İsmi</th>
    <th>Ödeme Yapılacak Firma</th>
    <th>Fiyat</th>
    <th>Ödeme Tutarı</th>
    <th>Açıklama</th>
  </tr>
  </thead>
  <tbody>
    @for (item of paymentLists; track paymentLists.keys(); let i=$index){

      <tr (click)="setCurrentPayment(item)" [class]="getSelectPayment(item)">
      <td>{{i+1}}</td>
      <td>{{item.userName}}</td>
        <td>{{item.dateAdded|date: "dd/MM/yyyy"}}</td>
      <td>{{item.companyName}}</td>
      <td>{{item.paymentOfPlace}}</td>
      <td>{{item.price|currency:"TRY":"₺"}}</td>
      <td>{{item.paymentType}}</td>
      <td>{{item.description}}</td>
        @if (item==currentPaymentList){
          @if (userRole=="Admin" || userRole=="Muhasebe") {
            <td>
              <button
                type="button"
                class="btn btn-success"
                (click)="addHistoryPayment(item);deletePayment(item.id)">Öde</button>
            </td>
          }

        }
      </tr>

    }
  </tbody>
</table>

