<div>
  <button type="button" class="btn btn-success" (click)="exportToExcel()">Excel Export</button>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Sıra</th>
    <th>İsim</th>
    <th>Şirket İsmi</th>
    <th>Ödeme Yapılacak Firma</th>
    <th>Fiyat</th>
    <th>Ödeme Tutarı</th>
    <th>Açıklama</th>
  </tr>
  </thead>
    @for (item of paymentLists; track paymentLists){

      <tr>
      <td>{{item.id}}</td>
      <td>{{item.userName}}</td>
      <td>{{item.companyName}}</td>
      <td>{{item.paymentOfPlace}}</td>
      <td>{{item.price|currency:"TRY":"₺"}}</td>
      <td>{{item.paymentType}}</td>
      <td>{{item.description}}</td>
      </tr>

    }
</table>

